<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>KOGAN CHALLENGE!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1><a id="Kogan_Challenge_0"></a>Kogan Challenge</h1>
    <p>This is my solution to the <a href="/kogan-challenge.pdf">Specific Kogan Programming Challenge</a> assigned to me.</p>
    <h1><a id="Solution_5"></a>Solution</h1>
    <p>The solution that I came up with is a simple API server which contacts the given api end-point. Here’s how the solution is implemented.</p>
    <h3><a id="API_8"></a>API</h3>
    <p>The api is as follows</p>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>url</th>
            <th style="text-align:center">function</th>
            <th style="text-align:right">return type</th>
            <th style="text-align:right">example link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>/all/{CATEGORY}/average_cw</td>
            <td style="text-align:center">Returns the average cubic weight for the given CATEGORY</td>
            <td style="text-align:right">Number</td>
            <td style="text-align:right"><a href="/all/Air%20Conditioners/average_cw">/all/Air Conditioners/average_cw</a></td>
        </tr>
        <tr>
            <td>/all/{CATEGORY}</td>
            <td style="text-align:center">Returns all product objects matching the given CATEGORY</td>
            <td style="text-align:right">Array</td>
            <td style="text-align:right"><a href="/all/Air%20Conditioners">/all/Air Conditioners</a></td>
        </tr>
        <tr>
            <td>/all/</td>
            <td style="text-align:center">Returns all product objects</td>
            <td style="text-align:right">Array</td>
            <td style="text-align:right"><a href="/all">/all</a></td>
        </tr>
        </tbody>
    </table>
    <h3><a id="Tech_16"></a>Tech</h3>
    <ul>
        <li>Node Application</li>
        <li>Express js Server</li>
        <li>Promises, async await</li>
    </ul>
    <h3><a id="Get_started_21"></a>Get started</h3>
    <ol>
        <li>Clone the <a href="https://github.com/benwinding/Kogan-Challenge-2018-05-29">GitHub Repository</a></li>
        <li><code>npm install</code> or <code>yarn</code></li>
        <li><code>npm start</code> or <code>yarn start</code></li>
    </ol>
</div>
</body>
</html>
